{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-use-before-define": "warn",
    "linebreak-style": "off",
    "no-console": "off",
    "prefer-promise-reject-errors": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off"
  }
}
